body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;

  background-color: #000;
  color: #0D0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 200px;
}

svg {
  border: solid red 2px;
  width: 400px;
  height: 400px;
}

p {
  margin: 15px;
  padding: 5px;
  max-width: 700px;
  text-align: left;
}

button {
  margin: 5px;
  border: none;
  padding: 3px;
  background-color: #000;
  color: #0D0;
  font-size: 1em;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

footer {
  position: relative;
  bottom: -150px;
}

.hidden {
  display: none;
}

.text-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
